/*
STYLESHEET FOR JAVAFXGRAPH VISUALIZATION
*/

.graph {
    -fx-background-color: #F4FFFB;    
}

/*.vertex {
    -fx-stroke-width: 3;
    -fx-stroke: #61B5F1;
    -fx-stroke-type: inside;  you should keep this if using arrows 
    -fx-fill: #B1DFF7;
}*/

.vertex {
    -fx-stroke-width: 3;
    -fx-stroke: #61B5F1;
    -fx-stroke-type: inside;  /*you should keep this if using arrows*/ 
    -fx-fill: #B1DFF7;
    -fx-opacity: 0.75;
    
    
    /*
    -fx-shape: "M 0 0 L 5 2 L 6 1 L 5 0 L 6 -1 L 5 -2 L 0 0 Z";
    -fx-max-width: 30; 
    -fx-max-height: 30;
    */
   

    -fx-min-width: 40; 
    -fx-min-height: 40;
    -fx-padding: 0;
    -fx-border-width: 3; 
    -fx-border-color: #61B5F1;
    -fx-border-radius: 20; 
    -fx-background-color: rgba(255, 255, 255, 1.0); 
    -fx-background-radius: 20;
}

.vertex-label {
    -fx-font: bold 8pt "sans-serif";
}

.edge {
    -fx-stroke-width: 1;
    -fx-stroke: #FF6D66;  
    -fx-stroke-dash-array: 2 5 2 5; /* remove for clean edges */  
    -fx-fill: transparent; /*important for curved edges */
    -fx-stroke-line-cap: round;
    -fx-opacity: 0.8;
}

.edge-label {
    -fx-font: normal 5pt "sans-serif";
}
/*
.arrow {
    -fx-stroke-width: 2;
    -fx-stroke: #FF6D66;  
    -fx-opacity: 0.8;
}
*/
.arrow {
    -fx-shape: "M 0 3 L 6 0 L 0 -3 L 2 0 L 0 3";
    -fx-min-width: 10;
    -fx-min-height: 10;
    -fx-border-color: rgba(255, 0, 0, 0.25);
    -fx-border-width: 1;
    -fx-background-color: rgba(255, 0, 0, 0.5);
}

/* Custom vertex. You should revert any unwanted styling in the default element, 
   style, since custom styles will be appended to the default style */
.myVertex {
    -fx-stroke-width: 5;
    -fx-stroke: green;
    -fx-stroke-type: inside; /* you should keep this if using arrows */
    -fx-fill: yellowgreen;
}
